<mat-card class="categoria-card">
  <mat-list>
    <div mat-subheader class="list-header">Todas las categorías</div>
    
    <mat-list-item *ngFor="let c of categorias">
      <mat-icon matListItemAvatar>category</mat-icon>
      
      <span matListItemTitle class="categoria-titulo">{{ c.titulo }}</span>
      
      <span matListItemLine class="categoria-descripcion">{{ c.descripcion }}</span>
      
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

    <div class="container text-center mt20">
        <button routerLink="/admin/add-categoria" mat-raised-button color="primary">Agregar categoria</button>
    </div>
</mat-card>