<mat-card>
  <h1 class="titulo-form">Agregar nueva categoria</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="formSubmit()">
        
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Titulo</mat-label>
          <input
            required
            autofocus
            type="text"
            name="titulo"
            matInput
            placeholder="Digite el titulo de la categoria"
            [(ngModel)]="categoria.titulo">
        </mat-form-field>

        <mat-form-field class="w100 mt20" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea
            name="descripcion"
            matInput
            placeholder="Digite la descripcion de la categoria"
            rows="8"
            [(ngModel)]="categoria.descripcion">
          </textarea>
        </mat-form-field>

        <div class="container text-center mt20">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>