<mat-toolbar color="primary">
    <a [routerLink] = "'/'"
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Portal de Examenes </span>
    <span class="example-spacer"></span>
    <a
        *ngIf="!isLoggedIn"
        [routerLink] = "'/login'" 
        class="example-icon" 
        aria-label="Example icon-button with heart icon">
        Iniciar sesion
    </a>
    <a
        *ngIf="!isLoggedIn"
        [routerLink] = "'/signup'" 
        class="example-icon mr20 ml70" 
        aria-label="Example icon-button with heart icon">
        Registrar
    </a>
    <a
        *ngIf="isLoggedIn"
        (click) = "logout()"
        style="margin-right: 50px; cursor: pointer;"
        class="nav-item" 
        aria-label="Example icon-button with heart icon">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesion
    </a>
    <span
        *ngIf="isLoggedIn && user"
        mat-button
        class="nav-item"
        routerLink="/admin/profile"
        aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
        {{ user.username }}
    </span>
</mat-toolbar>