<div class="bootstrap-wrapper" *ngIf = "!esEnviado">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <ng-container *ngIf = "preguntas">
                    <h1 class="mt20 titulo-en-curso">
                        En curso <b>{{ preguntas[0].examen.titulo }}</b>
                    </h1>
                </ng-container>

                <mat-card *ngFor = "let p of preguntas;let i = index" class="mt20 p20 tarjeta-pregunta">
                    <mat-card-content>
                        <p class="contenido-pregunta"><b>{{ i+1 }} </b><span [innerHTML] = "p.contenido"></span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-7 mt10 opcion-item">
                                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion1" name = {{i}}> {{ p.opcion1 }}
                            </div>
                            <div class="col-md-7 mt10 opcion-item">
                                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion2" name = {{i}}> {{ p.opcion2 }}
                            </div>
                            <div class="col-md-7 mt10 opcion-item">
                                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion3" name = {{i}}> {{ p.opcion3 }}
                            </div>
                            <div class="col-md-7 mt10 opcion-item">
                                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion4" name = {{i}}> {{ p.opcion4 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6"></div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="container text-center mt20 mb20">
                    <button (click) = "enviarCuestionario()" mat-raised-button color="primary" class="boton-enviar">Enviar cuestionario</button>
                </div>
            </div>
            <div class="col-md-2">
                </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper" *ngIf = "esEnviado">
    <div class="row mt20 contenedor-resultado">
        <div class="col-md-6 offSet-md-3 columna-resultado">
            <mat-card class="p20 tarjeta-resultado">
                <mat-card-header class="header-resultado">
                    <mat-card-title class="titulo-resultado">
                        Resultado de la prueba
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center mt20">
                    <h1 class="puntos-conseguidos">Puntos conseguidos : {{ puntosConseguidos }}</h1>
                    <h1 class="respuestas-correctas">Respuestas correctas : {{ respuestasCorrectas }}</h1>
                </mat-card-content>
                <mat-card-actions class="text-center contenedor-acciones">
                    <button mat-raised-button color="primary" class="boton-imprimir">Imprimir</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>