<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card class="form-card">
                    <div class="container text-center">
                        <img src="assets/account.png" alt="login" width="150">
                    </div>

                    <h1 class="text-center">Inicio de Sesión</h1>
                    
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input [(ngModel)] = "loginData.username" name="username" required matInput placeholder="Digite su nombre de usuario">
                            <mat-hint>El nombre de usuario debe ser válido</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input [(ngModel)] = "loginData.password" name="password" required type="password" matInput placeholder="Digite su contraseña">
                            <mat-hint>La contraseña debe ser válida</mat-hint>
                        </mat-form-field>

                        <div class="container text-center mt-3">
                            <button mat-raised-button color="primary">Iniciar sesión</button>
                            <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>