<mat-card class="sidebar-card">
  <mat-action-list>

    <div mat-subheader class = "menu-title">Categorias disponibles</div>


    <button routerLink = "/user-dashboard/0" mat-list-item>
      <mat-icon matListItemIcon>quiz</mat-icon>
      <span matListItemTitle>Exámenes</span>
    </button>

    <button [routerLink] = "'/user-dashboard/'+c.categoriaId" mat-list-item *ngFor = "let c of categorias">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>{{ c.titulo }}</span>
    </button>

  </mat-action-list>
</mat-card>