<mat-card class="sidebar-card">
  <mat-action-list>

    <div mat-subheader class="menu-title">Menu</div>

    <button mat-list-item routerLink="/admin">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Inicio</span>
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>Perfil</span>
    </button>

    <button mat-list-item routerLink="/admin/categorias">
      <mat-icon matListItemIcon>list</mat-icon>
      <span matListItemTitle>Categorias</span>
    </button>

    <button mat-list-item routerLink="/admin/add-categoria">
      <mat-icon matListItemIcon>add_circle_outline</mat-icon>
      <span matListItemTitle>Agregar categoria</span>
    </button>

    <button mat-list-item routerLink="/admin/examenes">
      <mat-icon matListItemIcon>quiz</mat-icon>
      <span matListItemTitle>Cuestionarios</span>
    </button>

    <button mat-list-item routerLink="/admin/add-examen">
      <mat-icon matListItemIcon>add</mat-icon>
      <span matListItemTitle>Agregar cuestionario</span>
    </button>

    <button mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Salir</span>
    </button>

  </mat-action-list>
</mat-card>